@import "tailwindcss";
@plugin "daisyui";
body{
  background-color: #000510;

  margin: auto;
}
.button{
  @apply py-3 px-5 rounded-xl bg-[#99E39E] cursor-pointer text-black font-semibold text-lg
}



